// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

body{
    position: relative;
    &.rtl{
        text-align: right;
        direction: rtl;
        .navbar-nav{
            padding-right:0; 
        }
        .navbar-brand {
            margin-right: 0;
            margin-left: 1rem;
        }
        .input-group-append {
            margin-right: -1px;
            margin-left: 0px;
        }
        .input-group > .input-group-append > .btn, .input-group > .input-group-append > .input-group-text, .input-group > .input-group-prepend:not(:first-child) > .btn, .input-group > .input-group-prepend:not(:first-child) > .input-group-text, .input-group > .input-group-prepend:first-child > .btn:not(:first-child), .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;

            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}
#page{
    display: flex;
    flex-direction: column;
    padding-top: 54px;
    min-height: 100vh;
    #content{
        flex:1;
        padding: 1.5rem 0;
    }
   
}

#Header{
    nav{
        background-color: $primary;
    }
}
#Footer{
    background-color: $secondary;
}
figure,
img{
    max-width:100%;
    height: auto;
}

.sidebar{
    .widget{
        margin-bottom: 2rem;
    }
    ul{
        @extend .list-unstyled;
        //padding:0; //rtl
        @extend .card-body;
    }
}

section.fp{
    min-height: calc(100vh - 60px);
} 


.business-header{
    height:50vh;
    background-size: cover;
    h1{
        display: flex;
        align-items: center;
        [role=presentation]{
            background: $primary;
            border-radius: 50%;
            padding: .5rem;
            margin: 0 .5rem;
        }
    }
    >div{
        height: 100%;
        display: flex;
        background: rgba($black, 0.6);
        color: $white;
         justify-content: center;
         align-items: center;
         text-align: center;
    }
}